.main_wrap{
    background-image: url(./background.png);

}
.wrap {
    text-align: center;
}

.wrap h1 {
    color: #2E2C2F;

    text-align: center;
    font-family: Blinker, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140.625%;
    padding-top: 40px;
}

.wrap p {
    width: 70%;
    margin: 0 auto;
    color: #2E2C2F;

    text-align: center;
    font-family: Blinker, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}
.wrap button{
    width: 360px;
height: 56px;
background-color: #C43721;
color: white;
margin: 1rem auto 40px;
}
.carousel_wrap{
    background: rgba(237, 241, 247, 0.50);
}