.wrap {
    background: linear-gradient(132deg, rgba(5, 176, 229, 0.80) 18.64%, rgba(30, 196, 144, 0.80) 98.12%);
    padding-bottom: 2rem;
}

.title h1 {
    padding: 40px 0 20px;
    margin: 0 auto;
    color: #2F353A;

    text-align: center;
    font-family: Blinker, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140.625%;
}

.title p {
    width: 50%;
    color: #1B2337;

    text-align: center;
    font-family: Blinker, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0 auto;

}

.card_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.card_block {
    width: 30%;
    flex-wrap: wrap;
    border-radius: 5px;
    background: #2E2C2F;

    box-shadow: 0px 2px 20px 0px rgba(46, 44, 47, 0.60);
    padding: 20px;
    margin-bottom: 2rem;
}

.card_block h3 {
    color: #fff;

    text-align: center;
    font-family: Blinker, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140.625%;
}

.card_block p {
    color: #fff;
    font-family: Blinker, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    margin-top: 1rem;
}

.btn {

    width: 360px;
    height: 56px;
    background-color: #C43721;
    color: white;
    margin: 1rem auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}