.pic_wrap{
    background-image: url(../main/background.png);
}

.wrap{
    background: rgba(237, 241, 247, 0.50);
}
.wrap h1{
    color: #2E2C2F;
    padding-top: 2rem;

text-align: center;
font-family: Blinker, sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 140.625%;
}

.wrap p{
    color: #2E2C2F;

text-align: center;
font-family: Blinker, sans-serif;
font-size:20px;
font-style: normal;
font-weight: 400;
line-height: 140.625%;
width: 60%;
margin: 0.5rem auto 0;
padding-bottom: 2rem;
}